<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let us help you!</h2>
                <hr class="light">
                <p class="text-faded">
                With over 25 years in the information technology and security
                industry, our founder, Dr.
                Clay Moody has expertise across academic,
                industry, and government. Highly educated, trained, and
                expericenced, we provide network and host pentetration
                services, security plan review and consultation, and
                cybersecurity education and training for all your needs.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
